@model BookManagement.Core.Models.Book

@{
    ViewBag.Title = "Delete";
}
<div class="maincontent">
    <p class="title">Delete Book</p>

    <header>
        <p class="book_title">@Html.ActionLink(@Model.Title, "DetailBook", "Home", new { bookId = @Model.Id }, null)</p>
        <p class="book_author">Category: <b>@Model.Category.Name</b></p>
        <p class="book_author">Author: <b>@Model.Author</b></p>
        <p class="book_price">Price: <b>@Model.Price</b></p>
    </header>
        
    <h4 style="margin-top:10px;">Are you sure you want to delete this?</h4>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <p>
            <input type="submit" value="Delete" /> |
            @Html.ActionLink("Back to List", "Index")
        </p>
    }
</div>