@model BookManagement.Core.Models.Book

@{
    ViewBag.Title = "Details";
}
<div class="maincontent">
    <p class="title">Detail Book</p>

    <section>
        <img src="@Model.PathImage" alt="imagebook">
        <header>
            <p class="book_title">@Html.ActionLink(@Model.Title, "DetailBook", "Home", new { bookId = @Model.Id }, null)</p>
            <p class="book_author">Category: @Model.Category.Name</p>
            <p class="book_author">Author: @Model.Author</p>
            <p class="book_price">Price: @Model.Price</p>
        </header>
        <p class="book_ov">@Model.Overview</p>
        <p class="button">
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </section>
</div>