@{
    ViewBag.Title = "DetailBook";
    
    if (Request.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_nonAuLayout.cshtml";
    }
}

@model BookManagement.Core.Models.Book
 

    <section>
        <img src="@Model.PathImage">
        <header>
            <p class="book_title">@Html.ActionLink(@Model.Title, "DetailBook", "Home", new { bookId = @Model.Id }, null)</p>
            <p class="book_author">Category: @Model.Category.Name</p>
            <p class="book_author">Author: @Model.Author</p>
            <p class="book_price">Price: @Model.Price</p>
        </header>
        <p class="book_ov">@Model.Overview</p>
        <div class="fb-comments" data-href=@ViewBag.LinkBook data-colorscheme="light"
             data-numposts="10" data-width="auto"></div>
    </section>

