@{
    ViewBag.Title = "Home Page";

}

<h3 id="type">@Html.ViewBag.Category</h3>

@model  IEnumerable<BookManagement.Core.Models.Book>

@foreach (var item in Model)
{
    <div class="content">
        <img src="@Html.DisplayFor(modelItem => item.PathImage)">
        <header>
            <h1>@Html.ActionLink(item.Title, "DetailBook", "Home", new {bookId = item.Id}, null)</h1>
            <h3>Author: @Html.DisplayFor(modelItem => item.Author)</h3>
            <h3>Price: @Html.DisplayFor(modelItem => item.Price)</h3>
           
        </header>
        <p>@Html.DisplayFor(modelItem => item.Overview)</p>
    </div>
}